<%= form_with model: curso do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% curso.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :grado %><br>
    <%= form.text_field :grado %><br>
    <% curso.errors.full_messages_for(:grado).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>